<footer>
  <div class="footer-content">
    <div class="footer-image-container">
      <img ngSrc="../../assets/images/imagen-footer.png" alt="Logo" class="logo" height="432" width="1080">
      <p class="footer-lema">Juega.<br>Conecta.<br>Disfruta.</p>
    </div>
    <ul class="socials">
      <li><a href="#"><img class="fa fa-facebook" ngSrc="../../assets/images/socials/Facebook_logo_(square).png" alt="Facebook"
                           height="960" width="960"></a></li>
      <li><a href="#"><img class="fa fa-twitter" ngSrc="../../assets/images/socials/twitterX.png" alt="Twitter"
                           height="980" width="980"></a></li>
      <li><a href="#"><img class="fa fa-google-plus"
                           ngSrc="../../assets/images/socials/Google_Plus_logo_(2015-2019).svg.png" alt="Google Plus"
                           height="2048" width="2048"></a></li>
      <li><a href="#"><img class="fa fa-youtube" ngSrc="../../assets/images/socials/youtube.png" alt="YouTube"
                           height="1200" width="1200"></a></li>
      <li><a href="#"><img class="fa fa-linkedin-square" ngSrc="../../assets/images/socials/LinkedIn_icon.png" alt="LinkedIn"
                           height="2048" width="2048"></a></li>
    </ul>
    <h3>Courtlink&copy; Basketball</h3>
    <ul class="footer-links">
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Nota legal</a></li>
      <li><a href="#">Cookies</a></li>
    </ul>
    <ul class="footer-links">
      <li><a href="#">Quiénes somos</a></li>
      <li><a href="#">Política de privacidad</a></li>
      <li><a href="#">Preguntas frecuentes</a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>Copyright 2024 Courtlink&copy; Basketball </p>
  </div>
</footer>
