<main class="login-page-container">
  <div class="logo-mobile-container">
    <span class="slogan-mobile">Únete ya al Dream Team de jugadores que se han ligado a nuestra plataforma</span>
  </div>
  <img alt="image" ngSrc="../../../assets/images/logoLogin.png" class="logo-login" height="900" width="1600"/>
  <p class="slogan">Únete ya al <strong>Dream Team</strong> de jugadores<br>que se han ligado a nuestra plataforma</p>
  <form class="login-page-form" onsubmit="return loginUser()">
    <span class="login-text">INICIA SESIÓN</span>
    <div class="login-page-inputs">
      <label>
        Correo electrónico<br>
        <input
          type="email"
          placeholder="Correo electrónico"
          class="login-page-mailinput input"
          id="user"
        />
      </label>
      <label>
        Contraseña<br>
        <input
          type="password"
          placeholder="Contraseña"
          class="login-page-passwdinput input"
          id="pass"
        />
      </label>
      <input type="submit" class="login-button button" id="btnSubmit" value="LOGIN">
      <span class="login-question">¿No tienes cuenta todavía?</span>
      <a href="register_page.html" class="login-page-navlink">Regístrate</a>
    </div>
  </form>
</main>
