<main class="register-page-container">
  <div class="logo-mobile-container">
    <span class="slogan-mobile">Únete ya al Dream Team de jugadores que se han ligado a nuestra plataforma</span>
  </div>
  <img alt="image" ngSrc="../../../assets/images/logoLogin.png" class="logo-login" height="900" width="1600"/>
  <p class="slogan">Únete ya al <strong>Dream Team</strong> de jugadores<br>que se han ligado a nuestra plataforma</p>
  <form class="register-page-form" #form="ngForm" (ngSubmit)="routeToHomepage(form)" novalidate>
    <span class="register-text">REGÍSTRATE</span>
    <div class="register-page-inputs">
      <label>
        <input
          type="text"
          placeholder="Nombre"
          class="register-page-nameinput input"
          name="nombre"
          required
          [(ngModel)]="nombre"
          #nombreField="ngModel"
        />
      </label>
      <label>
        <input
          type="text"
          placeholder="Apellidos"
          class="register-page-surnameinput input"
          name="apellido"
          required
          [(ngModel)]="apellido"
          #apellidoField="ngModel"
        />
      </label>
      <label>
        <input
          type="email"
          placeholder="Correo electrónico"
          class="register-page-mailinput input"
          name="email"
          id="email"
          required
          [(ngModel)]="correo"
          #correoField="ngModel"
        />
      </label>
      <label>
        <input
          type="password"
          placeholder="Contraseña"
          class="register-page-passwdinput input"
          name="password"
          id="password"
          required
          [(ngModel)]="passwd"
          #passwdField="ngModel"
        />
      </label>
      <div class="island_and_place">
        <label>
          Isla:
          <select (change)="updateMunicipalities()" [(ngModel)]="selectedIsland" id="island" class="register-page-islandinput input" name="isla">
            <option *ngFor="let island of islands" [value]="island.value">{{ island.label }}</option>
          </select>
        </label>
        <label>
          Municipio:
          <select [(ngModel)]="selectedMunicipality" id="municipality" class="register-page-placedinput input" name="municipio">
            <option *ngFor="let municipality of municipalitiesByIsland[selectedIsland]" [value]="municipality">{{ municipality }}</option>
          </select>
        </label>
      </div>
      <div class="height_and_position">
        <label>
          Altura (cm):
          <input
            type="number"
            placeholder="Altura (cm)"
            class="register-page-heightinput input"
            id="height"
            min="150"
            max="230"
            name="altura"
            required
          />
        </label>
        <label>
          Posición:
          <select id="position" class="register-page-positioninput input" name="posicion">
            <option value="Base">Base</option>
            <option value="Escolta">Escolta</option>
            <option value="Alero">Alero</option>
            <option value="Ala-Pívot">Ala-Pívot</option>
            <option value="Pívot">Pívot</option>
          </select>
        </label>
      </div>
      <div class="checkbox-container">
        <input type="checkbox" id="terms-checkbox" class="terms-checkbox" required>
        <label for="terms-checkbox" class="terms-label">He leído y acepto los <a routerLink="/">términos y condiciones</a></label>
      </div>
      <input type="submit" class="register-button button" value="SIGN UP" [disabled]="!form.valid">
      <span class="register-question">¿Tienes cuenta?</span>
      <a routerLink="/login" class="register-page-navlink">Inicia sesión</a>
    </div>
  </form>
</main>
