<main class="canchas-contenido">
  <a [routerLink]="'/canchas'" class="back-button">&#8249;</a>
  <h1 class="title_canchas">AÑADIR CANCHA</h1>
  <form #formularioCancha="ngForm" class="add-cancha-page-form" (ngSubmit)="onSubmit(formularioCancha)">
    <label>
      Nombre:
      <input
        type="text"
        placeholder="Nombre"
        class="add-cancha-page-nameinput input"
        required
        name="nombre"
        [(ngModel)]="nombre"
      />
    </label>

    <div class="court-place">
      <label for="selected-location">Ubicación: </label>
      <span id="selected-location">{{ selectedLocation }}</span>
      <app-map (markerPositionChanged)="onMarkerPositionChanged($event)" class="map-container"></app-map>
    </div>
    <div class="checkbox-container">
      <input type="checkbox" id="light-checkbox" class="light-checkbox">
      <label for="light-checkbox" class="light-label">La cancha está iluminada</label>
    </div>

    <div class="court-image">
      <span class="seleccion_imagen">Selecciona una imagen de la cancha:</span>
      <input type="file" id="myFile" name="filename" accept="image/png, image/jpeg" (change)="onFileSelected($event)" />
      <div id="image-preview">
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Vista previa de la imagen" />
      </div>
    </div>
    <button type="submit" id="add-court-button" class="button">Añadir</button>
  </form>
</main>
