<div class="court-container">
  <main class="canchas-contenido">
    <h1 class="title_canchas">CANCHAS</h1>
    <button id="add-court-button" class="button" routerLink="add_cancha_page.html">Añadir cancha</button>
    <div class="court-place">
      <label id="for_selected" for="selected-location">Ubicación:</label>
      <span id="selected-location"></span>
      <div id="map"></div>
    </div>
    <a routerLink="cancha_details_page.html" class="details-button">Detalles de la cancha</a>
  </main>
</div>
